 

.bbtn{

margin-top: -25px;


}
.search form{

 
float: right;
margin-right: 100px;
 
 
}

input[type=text]{

    padding: 7px;
    border: 3px solid #F97F51;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50px;
    margin-left: 1000px;
    
   
     
}

/* 1 */
 
 
 
header{
    height: 60px;
    width: 50px;       
   
 
}

#logo{
    
    margin-left: 110px;
    display: inline-block;
	cursor: pointer;
	font-size: 30px;
	font-weight: bold;
	color: #F97F51; 
     
   
}
#logo:hover{
    color: black;  
}
#logo-s{
	color: black;  
	margin-left: 5px;
   
   
}
#logo:hover #logo-s{
	color:  #F97F51;  
}
 
 
.act{
	border: 2px solid #fff;
	border-radius: 50px;
    
}
 
/* /1 */

/* 2 */
.slider{
   
	width:  1500px;
	background: white; /* darckblue */
 
     
}
.myslide{
	height: 655px;
	display: none;
	overflow: hidden;
    margin-top: 25px;
}

.prev, .next{
    position: absolute;
	top: 50%;
	transform: translate( 0%, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .nn:hover{
	color: #00a7ff; /* blue */
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	 
	cursor: pointer;
}
/* /2 */

/* javascript */
.active, .dot:hover{
	border-color: #00a7ff; /* blue */
}
 

 
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /muslide add fade */

/* 3 */
.txt{
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h1{
	color: #00a7ff; /* blue */
	font-size: 50px;
	margin-bottom: 20px;
}
.txt p{
	font-weight: bold;
	font-size: 20px;
}
/* /3 */

/* 4 */
 .im{
	transform: scale(1, 1);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
     
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}
/* /4 */



/* 5 */
@media screen and (max-width: 500px){
	.myslide{
		height: 500px;
	}
	.txt{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.txt h1{
		font-size: 40px;
	}
	.txt p{
		font-size: 13px;
	}

}
/* /5 */

/* 6 */
@media screen and (max-width: 500px){
	.txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
 
}
/* /6 */
 

 
 #scince{
     margin-top: 130px;
    text-decoration:none  ;
    color:red;
    margin-left: 555px;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',   Verdana, sans-serif;
text-shadow: 2px 1px 2px black  ;
    }
    .container
    {
        width:1400px;
        padding:10px;
        background-color:black   ;
        margin:100px auto;
        display:flex;
        justify-content:center;
        
        height: 640px;
      	 
    }
    
    .box
    {
        width:250px;
        height:300px;	
        margin: 10px;
        transition:1s;               
    }

    
     .box:hover
     {
         transform:scale(1.3);
         box-shadow:2px 2px 2px #000;
         z-index:2;
     }
        


     .show{

        width:700px ;
        margin: auto;
        overflow:hidden ;
     }

     .show ul{
        list-style:none;
		 width:4200px;
		 padding:0px;
		 position:relative;
		 animation: sliding 11s ease-in-out infinite
          }

        .show ul li{

            float: left;
            position: relative;
        }  
        
        .show ul:hover          {  
						 
            animation-play-state:paused;

            
           }
        
        .show h5{
            margin: 0;
            background:white ;
            padding: 5px;
            text-align: center;
            position: absolute;
            bottom:0 ;
            width: 100%;
            color: #000  ;
            font-size: 50px;
        }
        @keyframes sliding{
            0%{left:0}
			18%{left:-700px;}
			36%{left:-1400px;}
			54%{left:-2100px;}
			 
       }

       